{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="es">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111610469-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-111610469-3');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Blog | Developer.pe{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Blog | Developer.pe" />
	<meta name="keywords" content="Generales, Tecnología, Programación, Videojuegos, Móvil, Tutoriales" />
	<meta name="author" content="Developer.pe" />
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">
	<meta itemprop="name" content="Developer.pe">
	<meta itemprop="description" content="Explora nuestra variedad de post">
	<link rel="icon" href="{% static 'web/logo.png' %}" type="image/png">
	<link rel="icon" href="{% static 'web/logo.png' %}" type="image/png">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MG9TQXG');</script>
	<!-- End Google Tag Manager -->

	<meta name="twitter:card" content="Developer.pe">
	<meta name="twitter:site" content="@developerpepiur">
	<meta name="twitter:title" content="Blog | Developer.pe">
	<meta name="twitter:description" content="Explora nuestra variedad de post">
	<meta name="twitter:creator" content="@developerpepiur">
	<meta name="twitter:image" content="{% static 'web/favicon.ico' %}">

	<meta property="og:title" content="Blog | Developer.pe" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{% url 'home_blog' %}" />
	<meta property="og:image" content="{% static 'web/favicon.ico' %}"/>
	<meta property="og:description" content="Explora nuestra variedad de post" />
	<meta property="og:site_name" content="Developer.pe" />

	<link rel="stylesheet" href="{% static 'blog/css/icomoon.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bulma.min.css' %}">
	<script src="{% static 'blog/js/modernizr-2.6.2.min.js' %}"></script>
	</head>
	<body style="background-color:#eee;">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MG9TQXG"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12">
							<div id="fh5co-logo"><a href="{% url 'home' %}" >DEVELOPER.PE</a></div>
						</div>
						<div class="col-lg-8 col-md-12 text-right menu-1">
							<ul>
								<li><a href="{% url 'home_blog' %}">Inicio</a></li>
								<li><a href="{% url 'blog_general' %}">Generales</a></li>
								<li><a href="{% url 'blog_tutoriales' %}">Tutoriales</a></li>
								<li><a href="{% url 'blog_programacion' %}">Programación</a></li>
								<li><a href="{% url 'blog_videojuegos' %}">Videjuegos</a></li>
								<li><a href="{% url 'blog_tecnologia' %}">Tecnología</a></li>
								<li><a href="{% url 'blog_movil' %}">Móvil</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="{% block image %}background-image:url({% static 'blog/images/home-bg.jpg' %});{% endblock %}" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>{% block h1 %}Blog | Developer.pe{% endblock %}</h1>
							<h2>{% block h2 %}Explora nuestra variedad de Post{% endblock %}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

{% block search %}
	<div class="container">
		<div class="row">
	        <div class="col-md-12">
						<form method='post'>
							{% csrf_token %}
		            <div id="custom-search-input">
		                <div class="input-group col-md-12">
											<input type='hidden' id='page_num' name='page_num' value='1'>
											<input class="form-control" type="text" placeholder="Buscar..." id='name' name='search_name'>
		                    <span class="input-group-btn">
		                        <i class="icon icon-search"></i>
		                    </span>
		                </div>
		            </div>
						</form>
	        </div>
		</div>
	</div>
{% endblock %}
{% block list %}
	<div id="fh5co-blog" >
		<div class="container">
			<div class="columns is-multiline" id="cuerpo">
				{% if post %}
				{% for p in post %}
				{% csrf_token %}
				<div class="column is-one-third" >
					<div class="fh5co-blog animate-box" id="cambio">
							<a href="{% url 'detail_post' p.id %}" class="pagination-helper"><img class="img-responsive" src="{{ p.imagen_previa }}" alt=""></a>
							<div class="blog-text">
								<h7 style="color:red;" class="category">#{{ p.categoria }}</h7>
								<h3><a href="{% url 'detail_post' p.id %}" class="pagination-helper"><strong>{{ p.titulo }}</strong></a></h3>
								<h7 class="date">{{ p.fecha_creacion }}</h7>
								<p>{{ p.description }}</p>
								<div class="text-center">
									<a href="{% url 'detail_post' p.id %}" class="btn btn-primary leer_mas">Leer más</a>
								</div>
							</div>
					</div>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
<nav class="pagination pageNums is-centered " role="navigation" aria-label="pagination">
  <ul class="pagination-list">
		{% for page in pages %}
    <li class="navi">
			<a href='' class="pagination-link " value={{page}}>{{page}}</a>
    </li>
		{% endfor %}
  </ul>
</nav>

	<footer id="fh5co-footer" role="contentinfo" style="background-color: black;">
		<div class="container">
			<div class="columns">
				<div class="column is-4">
					<h4 class="text-center small">DEVELOPER.PE</h4>
					<ul class="fh5co-footer-links text-center">
						<li><a href="{% url 'home' %}">Inicio</a></li>
						<li><a href="{% url 'home' %}">Acerca de</a></li>
						<li><a href="{% url 'home' %}">Descubre</a></li>
						<li><a href="{% url 'home_blog' %}">Blog</a></li>
						<li><a href="{% url 'home' %}">Contacto</a></li>
						<li><a href="{% url 'home' %}">Suscribete</a></li>
					</ul>
				</div>

				<div class="column is-4">
					<h4 class="text-center small">Blog</h4>
					<ul class="fh5co-footer-links text-center">
						<li><a href="{% url 'blog_movil' %}">Móvil</a></li>
						<li><a href="{% url 'blog_tutoriales' %}">Tutoriales</a></li>
						<li><a href="{% url 'blog_general' %}">Generales</a></li>
						<li><a href="{% url 'blog_tecnologia' %}">Tecnología</a></li>
						<li><a href="{% url 'blog_videojuegos' %}">Videjuegos</a></li>
						<li><a href="{% url 'blog_programacion' %}">Programación</a></li>
					</ul>
				</div>

				<div class="column is-4">
					<h4 class="text-center small">Video Tutoriales</h4>
					<ul class="fh5co-footer-links text-center">
						<li><a href="#">Variados</a></li>
						<li><a href="#">Frontend</a></li>
						<li><a href="#">Backend</a></li>
					</ul>
				</div>
		</div>
		<div class="columns copyright">
			<div class="column is-12 text-center">
				<p><small class="block small">&copy; 2018 All Rights Reserved by Developer.pe</small></p>
				<p>
					<ul class="fh5co-social-icons">
						<li><a href="https://twitter.com/Developerpepiur?lang=es"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/developerper/"><i class="icon-facebook"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UCOzf2U3BTng85gsFJHvIInQ"><i class="icon-youtube"></i></a></li>
					</ul>
				</p>
			</div>
		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<script src="{% static 'blog/js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'blog/js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'blog/js/jquery.countTo.js' %}"></script>
	<script src="{% static 'blog/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'blog/js/magnific-popup-options.js' %}"></script>
	<script src="{% static 'blog/js/main.js' %}"></script>
	<script src="{% static 'web/js/DjangoAjax.js' %}"></script>
	{% block js_extra %}
	<script>
			 function update(){
					 $.ajax({
							 method:'POST',
							 url:{% block url %}'/blog/prueba/'{% endblock %},
							 data:$('form').serialize()
					 })
					 .done(function(response){
							  $('#cuerpo').html(response)
					 })
					 return false
			 }
			 $(document).ready(function(){
					 $('#name').keyup(function(){
							 update();
							 return false;
					 })
					 $('form').submit(function(){
							 update();
							 return false;
					 })
					 $('.pageNums a').click(function(){
							 $('#page_num').attr('value', $(this).attr('value'));
							 update();
							 return false;
					 })
			 });
	 </script>
	 {% endblock %}
	</body>
</html>
