{% extends 'blog/index.html' %}
{% load staticfiles %}


{% block title %}
  Videojuegos | Developer.pe
{% endblock %}
{% block meta_image %}
<meta property="og:image" content="{% static 'blog/images/videojuegos.jpg' %}"/>
{% endblock %}
{% block image %}
  background-image:url({% static 'blog/images/videojuegos.jpg' %});
{% endblock %}
{% block h1 %}
  Post sobre Videojuegos
{% endblock %}

{% block h2 %}
  Explora nuestros Post
{% endblock %}
{% block url %}'/blog/prueba_videojuegos/'{% endblock %}
